<!DOCTYPE html>
<html>
  <head>
    <title>Fetch Example</title>
  </head>
  <body>
    <h1>Fetch Example</h1>
    <input type="text" id="input-text" placeholder="Enter your text here...">
    <button id="submit-btn">Submit</button>

    <!--    <script src="script.js"></script> -->
    <script>
	const submitBtn = document.querySelector("#submit-btn");
	const inputText = document.querySelector("#input-text");

	submitBtn.addEventListener("click", () => {
	  const textData = {text: inputText.value};

	  fetch("/textdata", {
	    method: "POST",
	    headers: {
	      "Content-Type": "application/json"
	    },
	    body: JSON.stringify(textData)
	  })
	  .then(response => response.json())
	  .then(data => {
	    console.log(data);
	  })
	  .catch(error => {
	    console.error(error);
	  });
	});
    </script>
  </body>
</html>
